<div class="row align-items-center justify-content-center py-5">
    <div class="col-sm-10 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
        <div class="card">
            <div class="card-body p-4 p-sm-5">
                <div class="row align-items-center justify-content-between mb-2">
                    <div class="col-auto">
                        <h5>Log in</h5>
                    </div>
                    <div class="col-auto "><span class="mb-0">or </span> <span>
                        <a class="text-decoration-none" routerLink="/signup">Create an account</a></span></div>
                </div>
                <form (ngSubmit)="onLogin()">
                    <div class="mb-3">
                        <input class="form-control" type="email" placeholder="Email address" name="email" id="email"
                               [(ngModel)]="user_details.email">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" placeholder="Password" name="password" id="password"
                        [(ngModel)]="user_details.password">
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="form-check mb-0">
                                <input class="form-check-input" type="checkbox" id="basic-checkbox" checked="checked">
                                <label class="form-check-label mb-0" for="basic-checkbox">Remember me</label>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
