<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand border-bottom sticky-top"
     style="background-color: #edf2f9">
    <a class="navbar-brand me-1 me-sm-3" routerLink="/">
        <div class="d-flex align-items-center">
            <span class="font-sans-serif text-primary">Project</span>
        </div>
    </a>
    <ul class="navbar-nav align-items-center d-none d-lg-block">
        <li class="nav-item">
            <div class="search-box">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                    <input class="form-control search-input fuzzy-search rounded-pill" style="padding-left: 1.8rem"
                           type="search" placeholder="Search..."
                           aria-label="Search">
                    <i class="bi bi-search position-absolute top-0 mt-2 ms-2 text-secondary"></i>
                </form>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
        <li class="nav-item me-2">
            <a class="nav-link btn btn-sm btn-light border border-2 text-secondary" routerLink="/questions"> Questions</a>
        </li>
        <li class="nav-item me-2">
            <a class="nav-link btn btn-sm btn-light border border-2 text-secondary" routerLink="/agent"> Agent</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link px-0" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false" data-hide-on-body-scroll="data-hide-on-body-scroll">
                <i class="bi bi-bell-fill" style="font-size: 1.3rem"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-notification dropdown-menu-scrollable py-0">
                <div class="card">
                    <div class="card-header  bg-body-secondary">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <h6 class="card-header-title mb-0">Notifications</h6>
                            </div>
                            <div class="col-auto ps-0 ps-sm-3">
                                <a class="text-decoration-none text-info" href="#">Mark all as read</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="list-group list-group-flush fw-normal">
                            <div class="list-group-item">
                                <a class="text-reset text-decoration-none text-light-emphasis" href="#">
                                    <div class="fw-lighter">
                                        <p class="mb-1"><strong class="fw-semibold">Emma Watson</strong> replied to your
                                            comment : "Hello world 😍"</p>
                                        <span>Just now</span>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group-item">
                                <a class="text-reset text-decoration-none text-light-emphasis" href="#">
                                    <div class="fw-lighter">
                                        <p class="mb-1"><strong class="fw-semibold">Emma Watson</strong> replied to your
                                            comment : "Hello world 😍"</p>
                                        <span>Just now</span>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group-item">
                                <a class="text-reset text-decoration-none text-light-emphasis" href="#">
                                    <div class="fw-lighter">
                                        <p class="mb-1"><strong class="fw-semibold">Emma Watson</strong> replied to your
                                            comment : "Hello world 😍"</p>
                                        <span>Just now</span>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group-item">
                                <a class="text-reset text-decoration-none text-light-emphasis" href="#">
                                    <div class="fw-lighter">
                                        <p class="mb-1"><strong class="fw-semibold">Emma Watson</strong> replied to your
                                            comment : "Hello world 😍"</p>
                                        <span>Just now</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center border-top sticky-bottom bg-body-secondary p-1">
                    <a class="text-decoration-none text-info" href="#">View all</a></div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link pe-0 ps-2" role="button" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <div class="">
                    <img class="img avatar object-fit-cover" src="/assets/user-icon.png" alt="user-icon">
                </div>
            </a>
            <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0"
                 aria-labelledby="navbarDropdownUser">
                <div class="bg-white dark__bg-1000 rounded-2 py-2 fw-semibold">
                    <a class="dropdown-item fw-semibold" href="#">Set status</a>
                    <a class="dropdown-item fw-semibold" href="">Profile &amp; account</a>
                    <a class="dropdown-item fw-semibold" href="#">Feedback</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item fw-semibold" href="#">Settings</a>
                    <a class="dropdown-item fw-semibold" href="#">Logout</a>
                </div>
            </div>
        </li>
    </ul>
</nav>
