<div class="row justify-content-center py-5">
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">Profile Settings</h5>
            </div>
            <div class="card-body bg-body-tertiary">
                <form class="row g-3">
                    <div class="col-lg-12">
                        <label class="form-label" for="name">First Name</label>
                        <input class="form-control" id="name" type="text" value="Anthony">
                    </div>
<!--                    <div class="col-lg-6">-->
<!--                        <label class="form-label" for="last-name">Last Name</label>-->
<!--                        <input class="form-control" id="last-name" type="text" value="Hopkins">-->
<!--                    </div>-->
                    <div class="col-lg-6">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" id="email" type="text" value="anthony@gmail.com">
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="phone_number">Phone</label>
                        <input class="form-control" id="phone_number" type="text" value="+44098098304">
                    </div>
                    <div class="col-lg-12">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" id="password" type="password" value="Software Engineer">
                    </div>
                    <div class="col-lg-12">
                        <label class="form-label" for="confirm_password">Confirm Password</label>
                        <input class="form-control" id="confirm_password" type="password" value="Software Engineer">
                    </div>

                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
