<div class="row justify-content-center py-5" *ngIf="user_data">
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">Profile Settings</h5>
            </div>
            <div class="card-body bg-body-tertiary">
                <form class="row g-3">
                    <div class="col-lg-12">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" id="name" name="name" type="text" [(ngModel)]="user_data.name"
                               (change)="handleUpdateData($event)">
                    </div>
                    <div [class]="user_data.is_staff ? 'col-lg-6' : 'col-lg-12' ">
                        <label class="form-label">Username</label>
                        <input class="form-control" type="text" disabled [value]="user_data.username">
                    </div>
                    @if (user_data.is_staff){
                        <div class="col-lg-6">
                            <label class="form-label">Admin Role</label>
                            <input class="form-control" type="text" disabled [value]="user_data.role">
                        </div>
                    }
                    <div class="col-lg-6">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" id="email" name="email" type="email" [(ngModel)]="user_data.email"
                               (change)="handleUpdateData($event)">
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="phone_number">Phone</label>
                        <input class="form-control" id="phone_number" name="phone_number" type="text"
                               [(ngModel)]="user_data.phone_number" (change)="handleUpdateData($event)">
                    </div>

                    <nz-form-control [nzValidateStatus]="password_validate_status" [nzSpan]="24"
                                     nzErrorTip="Password don't match">
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="form-label" for="password">Password</label>
                                <input nz-input class="form-control" id="password" name="password" type="password"
                                       [(ngModel)]="user_data.password" (change)="handleUpdateData($event)"
                                        (ngModelChange)="handlePasswordValidateStatus($event)">
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label" for="confirm_password">Confirm Password</label>
                                <input nz-input class="form-control" id="confirm_password" name="confirm_password"
                                       type="password" [(ngModel)]="user_data.confirm_password"
                                       (change)="handleUpdateData($event)"
                                       (ngModelChange)="handlePasswordValidateStatus($event)">
                            </div>
                        </div>
                    </nz-form-control>

                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary" [disabled]="password_validate_status == 'error'"
                                type="button" (click)="updateData()">Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<nz-skeleton class="py-4" *ngIf="!user_data"></nz-skeleton>
