<div class="card border border-0 mt-4">
    <div class="card-header border border-2 px-0">
        <div class="d-lg-flex justify-content-between">
            <div class="row flex-between-center gy-2 px-3">
                <div class="col-auto pe-0">
                    <h6 class="mb-0 mt-1">All Task</h6>
                </div>
                <div class="col-auto">
                    <form>
                        <div class="input-group"><input
                            class="form-control form-control-sm shadow-none" type="search"
                            placeholder="Search  by name" aria-label="search">
                            <button class="btn btn-sm btn-outline-secondary border">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body border-end border-start rounded-bottom p-0">
        <div class="form-check d-none"><input class="form-check-input" id="checkbox-bulk-card-tickets-select"
                                              type="checkbox">
        </div>
        <div class="bg-body-tertiary d-flex flex-column gap-3 p-3" id="card-ticket-body">
            <div
                class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-3 rounded-3 shadow-sm">
                <div class="d-flex align-items-start align-items-sm-center">
                    <div class="form-check me-2 me-xxl-3 mb-0"><input class="form-check-input" type="checkbox"></div>
                    <div class="ms-1 ms-sm-3">
                        <p class="fw-semibold mb-3 mb-sm-2">
                            <a href="/task/1/" class="text-decoration-none">Synapse Design #1125</a></p>
                        <div class="row align-items-center gx-0 gy-2">
                            <div class="col-auto me-2">
                                <h6 class="client mb-0">
                                    <a class="text-reset d-flex align-items-center gap-1 text-decoration-none" href="#">
                                        <i class="bi bi-person-circle"></i><span>Emma Watson</span>
                                    </a>
                                </h6>
                            </div>

                            <div class="col-auto me-2">
                                <h6 class="mb-0 text-body-secondary">2d ago</h6>
                            </div>
                            <div class="col-auto">
                                <span class="badge text-bg-dark px-4">Dark</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom mt-4 mb-3"></div>
                <div class="d-flex justify-content-end ms-auto">
                    <div class="row g-3 align-items-center justify-content-end">
                        <div class="col-3">
                            <input type="number" id="hourInput" class="form-control form-control-sm" min="0"
                                   max="12" placeholder="HH">
                        </div>

                        <div class="col-3">
                            <input type="number" id="minuteInput" class="form-control form-control-sm" min="0"
                                   max="59" placeholder="MM">
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-3 rounded-3 shadow-sm">
                <div class="d-flex align-items-start align-items-sm-center">
                    <div class="form-check me-2 me-xxl-3 mb-0"><input class="form-check-input" type="checkbox"></div>
                    <div class="ms-1 ms-sm-3">
                        <p class="fw-semi-bold mb-3 mb-sm-2">
                            <a href="#" class="text-decoration-none">Synapse Design #1125</a></p>
                        <div class="row align-items-center gx-0 gy-2">
                            <div class="col-auto me-2">
                                <h6 class="client mb-0">
                                    <a class="text-reset d-flex align-items-center gap-1 text-decoration-none" href="#">
                                        <i class="bi bi-person-circle"></i><span>Emma Watson</span>
                                    </a>
                                </h6>
                            </div>

                            <div class="col-auto">
                                <h6 class="mb-0 text-body-secondary">2d ago</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom mt-4 mb-3"></div>
                <div class="d-flex justify-content-end ms-auto">
                    <div class="row g-3 align-items-center justify-content-end">
                        <div class="col-3">
                            <input type="number" class="form-control form-control-sm" min="0"
                                   max="12" placeholder="HH">
                        </div>

                        <div class="col-3">
                            <input type="number" class="form-control form-control-sm" min="0"
                                   max="59" placeholder="MM">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center d-none">
            <p class="fw-bold fs-8 mt-3">No ticket found</p>
        </div>
    </div>

    <app-pagination></app-pagination>
</div>

