<div class="card border border-0 mt-4">
    <div class="card-header border border-2 px-0">
        <div class="d-lg-flex justify-content-between">
            <div class="row flex-between-center gy-2 px-3">
                <div class="col-auto pe-0">
                    <h6 class="mb-0 mt-1">All Task</h6>
                </div>
                <div class="col-auto">
                    <form>
                        <div class="input-group">
                            <input class="form-control form-control-sm shadow-none" type="search" aria-label="search"
                                   placeholder="Search Question">
                            <button class="btn btn-sm btn-outline-secondary border"><i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="form-check form-switch pe-2">
                <a
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure delete this task?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnCancel)="cancel()"
                    (nzOnConfirm)="confirm()"
                    [nzPopconfirmVisible]="status_loading"
                >
                    <nz-switch [nzLoading]="status_loading" [ngModel]="agent_status" nzCheckedChildren="Active"
                               nzUnCheckedChildren="Inactive" (click)="changingStatus()" [nzControl]="true"></nz-switch>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body border-end border-start rounded-bottom p-0">
        <div class="form-check d-none"><input class="form-check-input" id="checkbox-bulk-card-tickets-select"
                                              type="checkbox">
        </div>
        <div class="bg-body-tertiary d-flex flex-column gap-3 p-3" id="card-ticket-body">
            <div *ngFor="let question of questions">
                <nz-ribbon *ngIf="!question.is_answered && question.expected_answer_at"
                           nzColor="isExpectedAnswerDelay ? 'red' :'#ffc107'"
                           [nzText]="getExpectedAnswerTime(question.expected_answer_at)"></nz-ribbon>
                <div
                    class="bg-white d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-3 rounded-3 shadow-sm">
                    <div class="d-flex align-items-start align-items-sm-center">
                        <div class="form-check me-2 me-xxl-3 mb-0"><input class="form-check-input" type="checkbox">
                        </div>
                        <div class="ms-1 ms-sm-3">
                            <p class="fw-semibold mb-3 mb-sm-2">
                                <a routerLink="/task/{{question.id}}/" class="text-decoration-none">
                                    <p [innerHTML]="question.question"></p>
                                </a>
                            </p>
                            <div class="row align-items-center row-gap-1">
                                <div class="col-auto">
                                    <h6 class="client mb-0">
                                        <a class="text-reset d-flex align-items-center gap-1 text-decoration-none"
                                           href="#">
                                            <i class="bi bi-person-circle"></i><span>{{ question.user.name }}</span>
                                        </a>
                                    </h6>
                                </div>

                                <div class="col-auto">
                                    <h6 class="mb-0 text-body-secondary">2d ago</h6>
                                </div>
                                <div class="col-auto">
                                    <span class="badge text-bg-dark px-4">{{ question.category.name }}</span>
                                </div>
                                <div class="col-auto" *ngIf="question.is_answered">
                                    <span class="badge text-bg-success">Answered</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom mt-4 mb-3"></div>
                    <div class="d-flex justify-content-end ms-auto" *ngIf="!question.is_answered">
                        <button class="btn btn-warning btn-sm px-4 px-sm-5" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#'+question.id" aria-expanded="false"
                                aria-controls="collapseExample">
                            Take Time
                        </button>
                    </div>
                </div>

                <!--                Code section for add waiting time-->
                <div class="row g-2 pt-2 align-items-center justify-content-end collapse" id="{{question.id}}">
                    <div class="col-lg-1 col-md-3 col-sm-6">
                        <select class="form-select form-select-sm" [(ngModel)]="waiting_time_for_user.hh" name="hh">
                            <option value="0" disabled hidden="hidden" selected>HH</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>

                    <div class="col-lg-1 col-md-3 col-sm-6">
                        <select class="form-select form-select-sm" [(ngModel)]="waiting_time_for_user.mm" name="mm">
                            <option value="0" disabled hidden="hidden" selected>MM</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>
                    </div>

                    <div class="col">
                        <button class="btn btn-warning btn-sm px-4 px-sm-5" type="button"
                                (click)="setWaitingTimeForUser(question)">Set</button>
                    </div>
                </div>
            </div>

            <div *ngIf="questions.length==0" class="text-center d-none">
                <p class="fw-bold fs-8 mt-3">No task for you</p>
            </div>
        </div>

        <app-pagination [current_page]="current_page" [total_pages]="total_pages"
                        (paginatedData)="paginatedData($event)">
        </app-pagination>

        <div class="modal fade" id="availabilityModal" tabindex="-1" aria-labelledby="availabilityModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="availabilityModalLabel">You are going online/offline!</h1>
                        <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                    </div>
                    <div class="modal-body">
                        Are you sure about your action?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

