<div class="row align-items-center justify-content-center py-5">
    <div class="col-sm-10 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
        <div class="card">
            <div class="card-body p-4">
                <div class="row align-items-center justify-content-between mb-2">
                    <div class="col-auto">
                        <h5>Sign up</h5>
                    </div>
                    <div class="col-auto text-body-secondary"><span>Have an account? </span>
                        <a class="text-decoration-none" href="/login">Login</a></div>
                </div>
                <form>
                    <div class="mb-3"><input class="form-control" type="text" placeholder="Name"></div>
                    <div class="mb-3"><input class="form-control" type="email" placeholder="Email address"></div>
                    <div class="mb-3"><input class="form-control" type="text" placeholder="Phone Number"></div>
                    <div class="row gx-2">
                        <div class="mb-3 col-sm-6">
                            <input class="form-control" type="password" autocomplete="on" placeholder="Password">
                        </div>
                        <div class="mb-3 col-sm-6">
                            <input class="form-control" type="password" autocomplete="on"
                                   placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="form-check text-body-secondary">
                        <input class="form-check-input" type="checkbox" id="basic-register-checkbox">
                        <label class="form-label" for="basic-register-checkbox">I accept the terms and privacy
                            policy</label>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-block mt-3" type="submit" name="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
