<app-user-home-sidepanel></app-user-home-sidepanel>

<div class="card my-3 " style="margin-left: 16rem">
    <div class="card-header bg-body-tertiary overflow-hidden">
        <div class="d-flex align-items-center">
            <div class="flex-1 ms-2">
                <h5 class="mb-0 fs-9">Ask Question</h5>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <form (ngSubmit)="submitQuestion()">
            <textarea [(ngModel)]="question.question" name="question" id="question" required
                      class="shadow-none form-control rounded-0 px-3 border-0 border-opacity-10"
                      placeholder="What do you want to talk about?" rows="4">
            </textarea>

            <div class="row g-0 justify-content-between mt-3 px-2 py-2 border-top">
                <div class="col">
                    <label class="btn btn-light btn-sm rounded-pill shadow-none fs-6 mb-0 me-1 border" for="imageInput">
                        <i class="bi bi-archive-fill"></i>
                        <span class="ms-2 d-none d-md-inline-block">Add File</span>
                    </label>
                    <input type="file" class="d-none" id="imageInput" accept="image/*" (change)="selectFile($event)">

                    <div class="btn-group dropend">
                        <button type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                class="btn btn-light btn-sm rounded-pill shadow-none fs-6 mb-0 me-1 border dropdown-toggle">
                            {{ selected_category || "Select Your Category" }}
                        </button>

                        <ul class="dropdown-menu pt-0">
                            <li class="nav-item">
                                <div class="dropdown-header p-0">
                                    <input type="text" class="form-control" placeholder="Search Category"
                                           (input)="searchCategory($event)">
                                </div>
                            </li>
                            <li *ngFor="let category of searched_categories" (click)="selectCategory(category)"
                                class="border border-bottom">
                                <a class="dropdown-item pe-auto">{{ category.name }}</a>
                            </li>
                            <p *ngIf="searched_categories.length==0"
                               class="text-center text-wrap text-body-secondary p-2">No Categories found</p>
                        </ul>
                    </div>
                </div>

                <div class="col-auto">
                    <button class="btn btn-primary btn-sm px-4 px-sm-5" type="submit">Share</button>
                </div>
            </div>
        </form>
    </div>
    <div class="p-2 bg-body-tertiary rounded-3 mt-3" *ngIf="attached_files.length">
        <div class="d-inline-flex flex-column me-2" *ngFor="let attachment of attached_files">
            <div class="border p-1 rounded-3 d-flex bg-white dark__bg-1000 mb-2">
                <i class="bi bi-image-fill"></i>
                <span class="ms-2 me-3">{{attachment.name}}</span>
                <a class="text-300 ms-auto c-pointer" (click)="deleteFile(attachment)">
                    <i class="bi bi-x-circle text-danger"></i></a>
            </div>
        </div>
    </div>
</div>

<app-user-questions></app-user-questions>

