<app-user-home-sidepanel></app-user-home-sidepanel>

<div class="card my-3 " style="margin-left: 16rem">
    <div class="card-header bg-body-tertiary overflow-hidden">
        <div class="d-flex align-items-center">
            <div class="flex-1 ms-2">
                <h5 class="mb-0 fs-9">Ask Question</h5>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <form>
            <textarea
                class="shadow-none form-control rounded-0 px-3 border-0 border-opacity-10"
                placeholder="What do you want to talk about?" rows="4">
            </textarea>

            <div class="row g-0 justify-content-between mt-3 px-2 py-2 border-top">
                <div class="col">
                    <label class="btn btn-light btn-sm rounded-pill shadow-none fs-6 mb-0 me-1 border" for="imageInput">
                        <i class="bi bi-archive-fill"></i>
                        <span class="ms-2 d-none d-md-inline-block">Image</span>
                    </label>
                    <input type="file" class="d-none" id="imageInput" accept="image/*">

                    <div class="btn-group dropend">
                        <button type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                class="btn btn-light btn-sm rounded-pill shadow-none fs-6 mb-0 me-1 border dropdown-toggle">
                            Select Your Category
                        </button>

                        <ul class="dropdown-menu pt-0">
                            <li class="nav-item">
                                <div class="dropdown-header p-0">
                                    <input type="text" class="form-control" placeholder="Search Category">
                                </div>
                            </li>
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Action two</a></li>
                            <li><a class="dropdown-item" href="#">Action three</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-auto">
                    <button class="btn btn-primary btn-sm px-4 px-sm-5" type="submit">Share</button>
                </div>
            </div>
        </form>
    </div>
</div>

<app-user-questions></app-user-questions>

