<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-11 card-group">
        <div class="card shadow me-1  rounded-3">
            <div class="card-body bg-body-tertiary">
                <h5 class="card-title text-center">Card title</h5>
                <div class="card-text">
                    <div class="list-group col-12">
                        <a class="list-group-item list-group-item-action" href="#">News Feed</a>
                        <a class="list-group-item list-group-item-action" href="#">Messages</a>
                        <a class="list-group-item list-group-item-action" href="#">Events</a>
                        <a class="list-group-item list-group-item-action" href="#">Groups</a>
                        <a class="list-group-item list-group-item-action" href="#">Pages</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="card shadow  rounded-3">

            <div class="card-body bg-body-tertiary">
                <h5 class="card-title text-center">Card title</h5>
                <div class="card-text">
                    <select class="form-select mb-2" aria-label="Default select example">
                        <option selected="">Select Your Category</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                    <textarea class="form-control mb-2" rows="3"></textarea>
                    <p>
                        into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum</p>
                    <div class="d-flex justify-content-end col-4 ms-auto col-sm-10">
                        <button
                            class="btn btn-lg btn-outline-primary me-1 mb-1 shadow-lg rounded-pill border pt-1
                            border-secondary-subtle" type="button">All Query
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row gx-3 p-3 mb-5 rounded">-->
<!--    &lt;!&ndash; Left side (Buttons) &ndash;&gt;-->
<!--    <div class="col-md-4 shadow-lg">-->
<!--        <div class="sticky-top">-->
<!--            <div class="card">-->
<!--                <table class="table table-hover table-dashboard mb-0 table-borderless fs-10 border-200">-->
<!--                    <tbody>-->
<!--                    <tr class="border-bottom border-200 c-pointer">-->
<!--                        <td>-->
<!--                            <p>Test</p>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr class="border-bottom border-200 c-pointer">-->
<!--                        <td>-->
<!--                            <p>Test</p>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr class="border-bottom border-200 c-pointer">-->
<!--                        <td>-->
<!--                            <p>Test</p>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr class="border-bottom border-200 c-pointer">-->
<!--                        <td>-->
<!--                            <p>Test</p>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr class="border-bottom border-200 c-pointer">-->
<!--                        <td>-->
<!--                            <p>Test</p>-->
<!--                        </td>-->
<!--                    </tr>-->

<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Right side (QA section) &ndash;&gt;-->
<!--    <div class="col-md-8 shadow-lg">-->
<!--        <div class="card">-->
<!--            <div class="m-3">-->
<!--                <div class="input-group">-->
<!--                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"-->
<!--                            data-bs-toggle="dropdown">-->
<!--                        <span class="visually-hidden">Toggle Dropdown</span>-->
<!--                    </button>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <input type="text" class="dropdown-item form-control form-control-sm border border-3"-->
<!--                               placeholder="Search your category">-->
<!--                        <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                        <li>-->
<!--                            <hr class="dropdown-divider">-->
<!--                        </li>-->
<!--                        <li><a class="dropdown-item" href="#">Separated link</a></li>-->
<!--                    </ul>-->
<!--                    <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">-->
<!--                    <button type="button" class="btn btn-outline-secondary">Action</button>-->

<!--                </div>-->
<!--            </div>-->

<!--            <table class="table table-sm mb-0 fs-10">-->

<!--                <tbody class="list" id="table-ticket-body">-->
<!--                <tr class="c-pointer" data-bs-toggle="collapse" data-bs-target="#collapseExample">-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        Synapse Design #1125-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="collapse collapse-horizontal" id="collapseExample">-->
<!--                    <td colspan="2" class="align-middle status fs-9 pe-4">-->
<!--                        Some placeholder content for the collapse component. This panel is hidden by default but-->
<!--                        revealed when the user activates the relevant trigger.-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="c-pointer" data-bs-toggle="collapse" data-bs-target="#collapseExample2">-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="collapse collapse-horizontal" id="collapseExample2">-->
<!--                    <td colspan="2" class="align-middle status fs-9 pe-4">-->
<!--                        Another placeholder content for the collapse component. This panel is hidden by default but-->
<!--                        revealed when the user activates the relevant trigger.-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="align-middle status fs-9 pe-4">-->
<!--                        <span class="badge text-bg-success">Success</span>-->
<!--                    </td>-->
<!--                    <td class="align-middle subject py-2 pe-4">-->
<!--                        <a class="fw-semi-bold" href="#">Synapse Design #1125</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->


<!--        </div>-->
<!--    </div>-->
<!--</div>-->

