<!--<div class="p-2" nz-col nzSpan="24" *ngFor="let comment of all_comments[post.id]">-->

<nz-comment class="border rounded-4 bg-white ps-1" [nzAuthor]="comment.user.name"
            [nzDatetime]="getTimeDifference(comment.comment_at)">
    <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="/assets/user-icon.png"></nz-avatar>
    <nz-comment-content>
        <p>{{ comment.content }}</p>

        <div class="d-flex justify-content-end pe-3" [class]="comment.is_owner ? '' : 'd-none'">
            <a class="w-25 d-flex justify-content-end" nz-dropdown nzTrigger="click"
               [nzDropdownMenu]="menu">
                <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
            </a>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item (click)="deleteComment(comment.id, post.id)">Delete</li>
            </ul>
        </nz-dropdown-menu>
    </nz-comment-content>
    <nz-comment-action>Reply To</nz-comment-action>
    @if (comment.replies) {
        @for (reply of comment.replies; track reply.id) {
            <div class="pb-2">
                <app-comment [comment]="reply" [post]="post" [is_visible_comments]="is_visible_comments"
                             (updateTotalComments)="updateTotalCommentsContainer($event)"
                             (removeComment)="removeCommentContainer($event)">
                </app-comment>
            </div>
        }
    }

</nz-comment>
<!--</div>-->
